/* client/src/App.css */
/* Basic Reset or Global Styles specific to App structure */
body {
  font-family: var(--font-family); /* Use variable from index.css */
  margin: 0;
  background-color: var(--light-color); /* Use variable */
  color: var(--text-color); /* Use variable */
}

.global-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: var(--dark-color);
  background-color: var(--light-color);
}
